<div class="row animated animate-fade-">

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" placeholder="Busacar usuario" class="form-control" #term (keyup)="findUsers(term.value)">
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-primary text-center" role="alert">
      <h3 class="alert-header">
        Cargando
      </h3>
      <i class="fa fa-spin fa-3x fa-refresh"></i>
      <p class="mb-0">Por favor espere..</p>
    </div>
  </div>
</div>



<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tabla de Usuarios ( {{ totalUsuarios }} )</h4>
        <h6 class="card-subtitle">Usuarios</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th>Role</th>
                <th>Auth</th>
                <th class="text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of users">
                <td class="text-center">
                  <img (click)="cambiarImagen(usuario)" [src]="usuario.imgUrl" class="avatar cursor"
                    alt="imagen avatar">
                </td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.name}}</td>
                <td>

                  <select class="form-control" [(ngModel)]="usuario.role" (change)="updateRole( usuario )">
                    <option value="USER_ROLE">User</option>
                    <option value="ADMIN_ROLE">Admin</option>
                  </select>

                </td>
                <td>
                  <span *ngIf="!usuario.google" class="badge badge-primary">Email</span>
                  <span *ngIf="usuario.google" class="badge badge-danger">Google</span>
                </td>

                <td class="text-nowrap text-center">
                  <a style="cursor: pointer;" href="#" data-toggle="tooltip" data-original-title="Editar"> <i
                      class="fa fa-pencil text-inverse m-r-10"></i> </a>
                  <a style="cursor: pointer;" (click)="deleteUser( usuario )" data-toggle="tooltip"
                    data-original-title="Borrar"> <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <button [disabled]="this.currentValue == 0" (click)="paginator(-5)" class="btn btn-secondary">Aterior</button>
          &nbsp;
          <button [disabled]="this.currentValue == (this.totalUsuarios - 5)" (click)="paginator(5)"
            class="btn btn-secondary ">Siguiente</button>
        </div>
      </div><!--.card-body-->
    </div><!--.card-->

  </div><!--.col-12-->
</div><!--.row-->